*.o
*.so
*.a
*.gdb

#don't hang on to binaries
	ion-3.6.0/bp/arm-uClibc/acsadmin
	ion-3.6.0/bp/arm-uClibc/acslist
	ion-3.6.0/bp/arm-uClibc/bibeclo
	ion-3.6.0/bp/arm-uClibc/bin/acsadmin
	ion-3.6.0/bp/arm-uClibc/bin/acslist
	ion-3.6.0/bp/arm-uClibc/bin/bibeclo
	ion-3.6.0/bp/arm-uClibc/bin/bpadmin
	ion-3.6.0/bp/arm-uClibc/bin/bpcancel
	ion-3.6.0/bp/arm-uClibc/bin/bpchat
	ion-3.6.0/bp/arm-uClibc/bin/bpclm
	ion-3.6.0/bp/arm-uClibc/bin/bpclock
	ion-3.6.0/bp/arm-uClibc/bin/bpcounter
	ion-3.6.0/bp/arm-uClibc/bin/bpdriver
	ion-3.6.0/bp/arm-uClibc/bin/bpecho
	ion-3.6.0/bp/arm-uClibc/bin/bping
	ion-3.6.0/bp/arm-uClibc/bin/bplist
	ion-3.6.0/bp/arm-uClibc/bin/bpnmtest
	ion-3.6.0/bp/arm-uClibc/bin/bprecvfile
	ion-3.6.0/bp/arm-uClibc/bin/bpsendfile
	ion-3.6.0/bp/arm-uClibc/bin/bpsink
	ion-3.6.0/bp/arm-uClibc/bin/bpsource
	ion-3.6.0/bp/arm-uClibc/bin/bpstats
	ion-3.6.0/bp/arm-uClibc/bin/bpstats2
	ion-3.6.0/bp/arm-uClibc/bin/bptrace
	ion-3.6.0/bp/arm-uClibc/bin/bptransit
	ion-3.6.0/bp/arm-uClibc/bin/brsccla
	ion-3.6.0/bp/arm-uClibc/bin/brsscla
	ion-3.6.0/bp/arm-uClibc/bin/dgrcli
	ion-3.6.0/bp/arm-uClibc/bin/dgrclo
	ion-3.6.0/bp/arm-uClibc/bin/dtn2admin
	ion-3.6.0/bp/arm-uClibc/bin/dtn2adminep
	ion-3.6.0/bp/arm-uClibc/bin/dtn2fw
	ion-3.6.0/bp/arm-uClibc/bin/hmackeys
	ion-3.6.0/bp/arm-uClibc/bin/imcadmin
	ion-3.6.0/bp/arm-uClibc/bin/imcfw
	ion-3.6.0/bp/arm-uClibc/bin/ipnadmin
	ion-3.6.0/bp/arm-uClibc/bin/ipnadminep
	ion-3.6.0/bp/arm-uClibc/bin/ipnfw
	ion-3.6.0/bp/arm-uClibc/bin/lgagent
	ion-3.6.0/bp/arm-uClibc/bin/lgsend
	ion-3.6.0/bp/arm-uClibc/bin/ltpcli
	ion-3.6.0/bp/arm-uClibc/bin/ltpclo
	ion-3.6.0/bp/arm-uClibc/bin/stcpcli
	ion-3.6.0/bp/arm-uClibc/bin/stcpclo
	ion-3.6.0/bp/arm-uClibc/bin/tcpcli
	ion-3.6.0/bp/arm-uClibc/bin/tcpclo
	ion-3.6.0/bp/arm-uClibc/bin/udpcli
	ion-3.6.0/bp/arm-uClibc/bin/udpclo
	ion-3.6.0/bp/arm-uClibc/bpadmin
	ion-3.6.0/bp/arm-uClibc/bpcancel
	ion-3.6.0/bp/arm-uClibc/bpchat
	ion-3.6.0/bp/arm-uClibc/bpclm
	ion-3.6.0/bp/arm-uClibc/bpclock
	ion-3.6.0/bp/arm-uClibc/bpcounter
	ion-3.6.0/bp/arm-uClibc/bpdriver
	ion-3.6.0/bp/arm-uClibc/bpecho
	ion-3.6.0/bp/arm-uClibc/bping
	ion-3.6.0/bp/arm-uClibc/bplist
	ion-3.6.0/bp/arm-uClibc/bpnmtest
	ion-3.6.0/bp/arm-uClibc/bprecvfile
	ion-3.6.0/bp/arm-uClibc/bpsendfile
	ion-3.6.0/bp/arm-uClibc/bpsink
	ion-3.6.0/bp/arm-uClibc/bpsource
	ion-3.6.0/bp/arm-uClibc/bpstats
	ion-3.6.0/bp/arm-uClibc/bpstats2
	ion-3.6.0/bp/arm-uClibc/bptrace
	ion-3.6.0/bp/arm-uClibc/bptransit
	ion-3.6.0/bp/arm-uClibc/brsccla
	ion-3.6.0/bp/arm-uClibc/brsscla
	ion-3.6.0/bp/arm-uClibc/cgrfetch
	ion-3.6.0/bp/arm-uClibc/check
	ion-3.6.0/bp/arm-uClibc/dgrcli
	ion-3.6.0/bp/arm-uClibc/dgrclo
	ion-3.6.0/bp/arm-uClibc/dtn2admin
	ion-3.6.0/bp/arm-uClibc/dtn2adminep
	ion-3.6.0/bp/arm-uClibc/dtn2fw
	ion-3.6.0/bp/arm-uClibc/hmackeys
	ion-3.6.0/bp/arm-uClibc/imcadmin
	ion-3.6.0/bp/arm-uClibc/imcfw
	ion-3.6.0/bp/arm-uClibc/ipnadmin
	ion-3.6.0/bp/arm-uClibc/ipnadminep
	ion-3.6.0/bp/arm-uClibc/ipnfw
	ion-3.6.0/bp/arm-uClibc/lgagent
	ion-3.6.0/bp/arm-uClibc/lgsend
	ion-3.6.0/bp/arm-uClibc/ltpcli
	ion-3.6.0/bp/arm-uClibc/ltpclo
	ion-3.6.0/bp/arm-uClibc/stcpcli
	ion-3.6.0/bp/arm-uClibc/stcpclo
	ion-3.6.0/bp/arm-uClibc/tcpcli
	ion-3.6.0/bp/arm-uClibc/tcpclo
	ion-3.6.0/bp/arm-uClibc/udpcli
	ion-3.6.0/bp/arm-uClibc/udpclo
	ion-3.6.0/cfdp/arm-uClibc/bin/bputa
	ion-3.6.0/cfdp/arm-uClibc/bin/cfdpadmin
	ion-3.6.0/cfdp/arm-uClibc/bin/cfdpclock
	ion-3.6.0/cfdp/arm-uClibc/bin/cfdptest
	ion-3.6.0/cfdp/arm-uClibc/bputa
	ion-3.6.0/cfdp/arm-uClibc/cfdpadmin
	ion-3.6.0/cfdp/arm-uClibc/cfdpclock
	ion-3.6.0/cfdp/arm-uClibc/cfdptest
	ion-3.6.0/cfdp/arm-uClibc/check
	ion-3.6.0/opt/bin/*
ion-3.6.0/bp/arm-uClibc/bin/*
ion-3.6.0/cfdp/arm-uClibc/bin/*
